@font-face {
    font-family: army;
    src: url(../misc/Army.woff);
}

.army {
    font-family:army;
}

.contspacing {
    margin-top:40px;
}


.headbox {
    display:block;
    width:auto;
    height:100px;
    line-height:100px;
    color:white;
    background-color:#3C86BD;
    border-bottom:1px solid black;
    font-size:64px;
    text-align:left;
    text-shadow: 3px 3px 0 black;
}

.eliminategap {
    margin-top:-400px;
}

.emppic {
    position:relative;
    margin:50px;
    width:200px;
    height:200px;
}

.middleleftbanner {
    display:block;
    position:relative;
    right:15px;
    margin:auto;
    width:720px;
    height:70px;
    line-height:70px;
    color:white;
    background-color:#3C86BD;
    font-size:36px;
    text-align:center;
    font-family:army;
    text-shadow: 2px 2px 0 black;
    border:1px solid white;
}

.middleleftbox {
    display:block;
    margin-top:-920px;
    height:346px;
    background-color:#262626;
    border-left:1px solid white;
    border-right:1px solid white;
}

.opacity {
    display:block;
    position:absolute;
    opacity:.7;
    top:142px;
    width:1440px;
    height:1750px;
    background-color:black;
}

.pformat   {
    position:relative;
    left:20px;
}

.secondmiddleleftbox {
    display:block;
    position:relative;
    bottom:215px;
    height:340px;
    background-color:#262626;
    border-left:solid 1px white;
    border-right:solid 1px white;
}

.subtext {
    position:relative;
    left:300px;
    width:300px;
    bottom:240px;
    color:white;
    text-align:justify;
}

.subttextlink {
    position:relative;
    bottom:230px;
    left:380px;
    width:300px;
    color:white;
    text-align:justify;
}

.signinbox {
    position:absolute;
    top:34px;
    left:985px;
    color:white;
}

.textsubtitle {
    position:relative;
    left:300px;
    bottom:250px;
    width:300px;
    color:white;
    background-color:#262626;
    border:1px solid white;
    text-align:center;
    text-shadow: 1px 1px 0 black;
}

.thirdmiddleleftbox {
    display:block;
    position:relative;
    bottom:350px;
    margin-top:-10px;
    height:355px;
    background-color:#262626;
    border-left:solid 1px white;
    border-right:solid 1px white;
    border-bottom:solid 1px white;
}

.topleftbanner {
    display:block;
    position:relative;
    right:15px;
    margin:auto;
    width:720px;
    height:70px;
    line-height:70px;
    color:white;
    background-color:#3C86BD;
    border-left:1px solid white;
    border-right:1px solid white;
    border-top:1px solid white;
    text-align:center;
    font-size:36px;
    font-family:army;
    text-shadow: 2px 2px 0 black;
}

.topleftbox {
    display:block;
    height:400px;
    background-color:#3C86BD;
}

.toplefttext {
    display:block;
    position:relative;
    margin:auto;
    overflow:hidden;
    padding:60px;
    padding-top:50px;
    right:15px;
    width:720px;
    height:350px;
    color:white;
    border:1px solid white;
    font-size:24px;
    text-align:justify;
}

.toplefttext p {
    position: relative;
    z-index: 2;
}

.toplefttext img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
}

.toprightbanner {
    display:block;
    position:relative;
    right:15px;
    width:350px;
    height:70px;
    line-height:70px;
    color:white;
    background-color:#3C86BD;
    border-right:solid 1px white;
    border-bottom:solid 1px white;
    font-size:36px;
    text-align:center;
    font-family:army;
    text-shadow: 2px 2px 0 black;
}

.toprightbannertexthead {
    margin-top:30px;
    color:white;
    background-color:#3C86BD;
    border:1px solid white;
    text-align:center;
}

.toprightbannersubtext {
    margin-top:15px;
    color:white;
    text-align:justify;
}

.toprightbox {
    display:block;
    width:350px;
    height:1320px;
    background-color:#262626;
    border:1px solid white;
}