@font-face {
    font-family: army;
    src: url(../misc/Army.woff);
}

p   {
    position:relative;
    left:20px;
}

.army {
    font-family:army;
}

.box {
    display:block;
    position:relative;
    top:55px;
    margin:auto;
    margin-bottom:30px;
    margin-top:30px;
    width:900px;
    height:60px;
    line-height:60px;
    color:white;
    background-color:#3C86BD;
    border:1px solid white;
    font-size:42px;
    font-family:army;
    text-align:center;
    text-shadow: 2px 2px 0 black;
}

.greyback {
    position:relative;
    bottom:29px;
    background-color:#C8C5C9;
    border-top: #514F51;
}

.headbox {
    display:block;
    width:auto;
    height:100px;
    line-height:100px;
    color:white;
    background-color:#3C86BD;
    border-bottom:1px solid black;
    font-size:64px;
    text-align:left;
    text-shadow: 3px 3px 0 black;
}

.signinbox {
    position:absolute;
    top:34px;
    left:985px;
    color:white;
}

.textbox {
    display:block;
    position:relative;
    top:65px;
    margin:auto;
    margin-bottom:120px;
    color:#514F51;
    text-align:center;
    font-size:18px;
}