@font-face {
    font-family: army;
    src: url(misc/Army.woff);
}

p   {
    position:relative;
    left:20px;
}

.army {
    font-family:army;
}

.borderbox {
    top:210px;
    margin:20px;
    width:250px;
    height:100px;
    line-height:100px;
    text-align:center;
    font-size:18px;
    color:white;
    background-color:#262626;
    border: 3px solid white;
}

.borderbox:hover {
    background-color: #3C86BD;
}

.employerbenefit {
    display:block;
    position:relative;
    margin:auto;
    top:964px;
    right:12px;
    width:1040px;
    height:60px;
    line-height:60px;
    color:white;
    background-color:#3C86BD;
    text-align:center;
    font-size:36px;
    text-shadow: 2px 2px 0 black;
    border:1px solid black;
}

.explanation {
    display:block;
    position:relative;
    margin:auto;
    top:964px;
    right:12px;
    width:1040px;
    height:240px;
    line-height:60px;
    color:white;
    background-color:#262626;
    border:1px solid black;
    text-align:justify;
    font-size:16px;
    padding:-5px;
}

.headbox {
    display:block;
    width:auto;
    height:100px;
    line-height:100px;
    text-align:left;
    font-size:64px;
    color:white;
    background-color:#3C86BD;
    border-bottom:1px solid black;
    text-shadow: 3px 3px 0 black;
    font-family:army;
}

.mainpicdiv {
    position:absolute;
    right:0px;
    margin-left:auto;
    margin-right:auto;
    height:413px;
    width:1515px;
    padding-top:50px;
}

.mainpic {
    height:413px;
    width:1515px;
    opacity:.7;
}

.removespace {
    margin-bottom:0px;
}

.signinbox {
    position:absolute;
    left:985px;
    top:34px;
    color:white;
}

.vetphonepic {
    position:relative;
    top:21px;
    width:1038px;
    height:500px;
    border:solid black 1px;
}

.vetworkdescrip {
    display:block;
    position:relative;
    margin:auto;
    top:460px;
    right:12px;
    width:1040px;
    height:200px;
    line-height:60px;
    padding:-5px;
    color:white;
    background-color:#262626;
    border:1px solid black;
    text-align:justify;
    font-size:16px;
}

.whatisvetwork {
    display:block;
    position:relative;
    margin:auto;
    top:460px;
    right:12px;
    width:1040px;
    height:60px;
    line-height:60px;
    text-align:center;
    color:white;
    background-color:#3C86BD;
    font-size:36px;
    text-shadow: 2px 2px 0 black;
    border:1px solid black;
}