@font-face {
    font-family: army;
    src: url(misc/Army.woff);
}

@media only screen and (max-width: 817px) {

    #shrinkbox {
        bottom: 10px;
    }
}

@media only screen and (max-width: 817px) {

    #shrinktitle {
        font-size: 60px;
    }
}

#title {
    margin-left: auto;
    margin-right: auto;
}

.titlename {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    font-family: army;
    color: black;
    text-align: center;
    font-size: 112px;
    text-shadow: 2px 2px 30px grey;
}

#pichost {

    top: -50%;
    left: -100%;
    width: 300%;
    height: 200%;
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}

#pichost img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.btn {
    background-color: black;
    height: 100px;
    width: 250px;
    font-size: 24px;
    border: white solid 3px;
    box-shadow: 0 0 10px grey;
}

.btn:hover {
    background-color: white;
    color: black;
    border: black 6px solid;
    font-size: 36px;
    box-shadow: 0 0 10px grey;
    text-decoration: underline;
    text-shadow: 0 0 5px grey;
}

.btn-info.focus, .btn-info:focus {
    background-color: white;
    color: black;
    border: black 6px solid;
    font-size: 36px;
    box-shadow: 0 0 10px grey;
}

.boxrow {
    position: relative;
    bottom: 300px;
    text-align: center;
    width: 100%;
    margin: auto 0;
}

#signupbox {
    margin-top: 20px;
    height: 100px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 100px;
    font-family: army;
}

#loginbox {
    margin-top: 20px;
    height: 100px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 100px;
    font-family: army;
}

.modal-title {
    font-size: 48px;
}

#lastname {
    width: 100%;
    margin-top: -27%;
}

#firstname {
    width: 100%;
    margin-top: -27%;
}

#password {
    width: 100%;
    margin-top: -27%;
}

#verifypassword {
    width: 100%;
    margin-top: -27%;
}

#email {
    width: 100%;
    margin-top: -27%;
}

#zipcode {
    width: 100%;
    margin-top: -27%;
}

#formsize {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#formsizelogin {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#emaillogin {
    width: 100%;
    margin-top: -27%;
}

#passwordlogin {
    width: 100%;
    margin-top: -27%;
}

#verifypasswordlogin {
    width: 100%;
    margin-top: -27%;
}

@media only screen and (min-width: 1px) {

    .modal-sm {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

#signupbutton {
    width: 360px;
    height: 100%;
    margin-top: 2%;
    background-color: white;
    color: black;
    border: black 3px solid;
    padding: 0;
    font-size: 48px;
}

#signupbutton:hover {
    background-color: black;
    color: white;
    font-size: 64px;
    border: white 3px solid;
    box-shadow: 0 0 20px black;
    text-decoration: underline;
}

#loginbutton {
    width: 360px;
    height: 100%;
    margin-top: 2%;
    background-color: white;
    color: black;
    border: black 3px solid;
    padding: 0;
    font-size: 48px;
}

#loginbutton:hover {
    background-color: black;
    color: white;
    font-size: 64px;
    border: white 3px solid;
    box-shadow: 0 0 20px black;
    text-decoration: underline;
}