@font-face {
    font-family: army;
    src: url(misc/Army.woff);
}

.army {
    font-family:army;
}

.signinbox {
    position:absolute;
    left:985px;
    top:34px;
    color:white;
}

.headbox {
    display:block;
    background-color:#3C86BD;
    height:100px;
    line-height:100px;
    width:auto;
    text-align:left;
    color:white;
    font-size:64px;
    text-shadow: 3px 3px 0 black;
    border-bottom:1px solid black;
}

p   {
    position:relative;
    left:20px;
}



.box {
    display:block;
    position:relative;
    height:60px;
    line-height:60px;
    margin:auto;
    margin-bottom:30px;
    margin-top:30px;
    text-align:center;
    background-color:#3C86BD;
    width:900px;
    font-family:army;
    font-size:42px;
    text-shadow: 2px 2px 0 black;
    color:white;
    top:55px;
    border:1px solid white;
}

.textbox {
    position:relative;
    display:block;
    margin:auto;
    text-align:center;
    margin-bottom:120px;
    color:#514F51;
    top:65px;
    font-size:18px;

}

.greyback {
    background-color:#C8C5C9;
    border-top: #514F51;
    position:relative;
    bottom:29px;
}