@font-face {
    font-family: army;
    src: url(../misc/Army.woff);
}

.army {
    font-family:army;
}

.signinbox {
    position:absolute;
    left:985px;
    top:34px;
    color:white;
}

.headbox {
    display:block;
    width:auto;
    height:100px;
    line-height:100px;
    text-align:left;
    color:white;
    background-color:#3C86BD;
    font-size:64px;
    text-shadow: 3px 3px 0 black;
    border-bottom:1px solid black;
}

p   {
    position:relative;
    left:20px;
}

.backcolor {
    background-color:#3C3C3C;
}

.maincontainer {
    padding-top:80px;
}

.findavetbanner {
    height:60px;
    line-height:60px;
    color:white;
    background-color:#3C86BD;
    font-size:48px;
    font-family:army;
    text-align:center;
    text-shadow: 2px 2px 0 black;
    border-left:solid white 1px;
    border-right:solid white 1px;
    border-top:solid white 1px;
}

.desriptext {
    text-align:center;
    position:relative;
    color:white;
    background-color:#262626;
    font-size:18px;
    padding-top:40px;
    padding-bottom:40px;
    border-top:1px solid white;
    border-right:1px solid white;
    border-left:1px solid white;
}

.customform {
    margin:auto;
    text-align:center;
    color:white;
    background-color:#262626;
    padding:20px;
}

.formtext {
    position:relative;
    font-size:18px;
    padding-right:300px;
}

.lastnametext{
    position:relative;
    font-size:18px;
    padding-right:302px
}

.statetext{
    position:relative;
    font-size:18px;
    padding-right:350px;
}

.citytext {
    position:relative;
    font-size:18px;
    padding-right:360px;
}

.withintext {
    position:relative;
    font-size:18px;
    padding-right:340px;
}

.ziptext {
    position:relative;
    font-size:18px;
    padding-right:316px;
}

.keywordtext {
    position:relative;
    font-size:18px;
    padding-right:318px;
}

.formborder {
    border-right:solid white 1px;
    border-left:solid white 1px;
}

.submitbutton {
    margin-bottom:200px;
    background-color:#262626;
    text-align:center;
    padding-bottom:40px;
    padding-top:40px;
    border-left:solid white 1px;
    border-right:solid white 1px;
    border-bottom:solid white 1px;
}

.buttonsize {
    width:100px;
    height:50px;
    color:white;
    background-color:#3C86BD;
    border:1px solid white;
}